:root {
    --main-bg-color: #121212;
    --primary-color-dark: #1F1A24;
    --primary-color-darkish: #332940;
    --primary-color: #a45aff;
    --secondary-color: #ffa8f9;
    --animation-duration: 1.5s;
}

body {
    background-color: var(--main-bg-color) !important;
    font-size: larger !important;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white !important;
}

button {
    color: white !important;
    background-color: #332940 !important;
    border : none !important;
    font-size: 1.25rem !important;
    padding: 2px 10px 2px 10px !important;
    border-radius: 1rem !important;
}

button:focus {
    outline: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeOut{
	animation-name: fadeOut;

	animation-duration: var(--animation-duration);	

	animation-timing-function: ease;	
}

@keyframes fadeOut {
	0% {
        opacity: 100%;
	}
	100% {
        opacity: 0%;
	}		
}

.fadeIn{
    animation-name: fadeIn;
	animation-duration: var(--animation-duration);	

	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {
        opacity: 0%;
	}
	100% {
        opacity: 100%;
	}		
}

.highlight {
    color: var(--primary-color);
}

.d-none {
    display: none;
}

.input-container {
    border-radius: 1rem;
    font-family:'Roboto';
    width:600px; 
    margin:30px auto 0; 
    display:block; 
    background: var(--primary-color-dark);
    padding:50px 50px 50px;
}

.group { 
    position:relative; 
    margin-bottom:45px; 
}

input {
    background-color: var(--primary-color-darkish);
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid var(--primary-color);
}

input:focus { outline:none; }


label {
    color: white; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:14px;
    color: var(--primary-color);
}

.bar { position:relative; display:block; width:100%; }
.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: var(--primary-color); 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

input:focus ~ .highlight-input {
    animation:inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
	from { background: var(--primary-color); }
    to 	 { width:0; background:transparent; }
}